[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
f = "black . --line-length 160"
l = "flake8 . --max-line-length 160 --ignore E731 --exclude .venv"
t = "mypy . --strict --check-untyped-defs --exclude .venv"

[packages]

[dev-packages]
black = "==23.3.0"
flake8 = "==6.0.0"
mypy = "==1.5.0"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
